*, ::after, ::before {
  box-sizing: border-box;
}

.header {
  grid-area: h;
  height: 70px;
  width: 100%;
  background-color: #3f4257;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 21;
 
}

.header img{
  width: 50px;
}
  
.loginBlock {
  float: right;
  
}

.loginBlock a{
  color: white;
  text-decoration: none;
  font-size: 22px;
}

